<a href="https://colab.research.google.com/github/KithusshandR/ML_Assignment2_IT19029832_IT19241760_IT19121802/blob/Development/ML_Assignment02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Necessary Libraries

The nltk library to proecess the text and the pandas library to load the data are loaded.

In [ ]:
#load the libraries
import nltk
import pandas as pd

# Load Data

Load the dataset

In [ ]:
#load data from the github repository 
#pre-request the repository needs to be public
# dataset = pd.read_csv('https://github.com/KithusshandR/ML_Assignment2_IT19029832_IT19241760_IT19121802/blob/main/website_classification.csv') 

#load data from google drive
from google.colab import drive
drive.mount('/content/gdrive')

dataset = pd.read_csv('/content/gdrive/MyDrive/content/website_classification.csv')

dataset.head()

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

,Unnamed: 0,website_url,cleaned_website_text,Category
0,0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel

# Analysis the loaded Dataset

The loaded dataset is analysised to find the information about the dataset like No of row and no of columns

In [ ]:
#find the dataset number of rows and columns
dataset.shape

(1408, 4)

In [ ]:
#print the dataset columns names
dataset.columns

Index(['Unnamed: 0', 'website_url', 'cleaned_website_text', 'Category'], dtype='object')

In [ ]:
#drop the first column (ID column)
dataset = dataset.drop('Unnamed: 0', axis=1)
dataset.head()

,website_url,cleaned_website_text,Category
0,https://www.booking.com/index.html?aid=1743217,official site good hotel accommodation big sav...,Travel
1,https://travelsites.com/expedia/,expedia hotel book sites like use vacation wor...,Travel
2,https://travelsites.com/tripadvisor/,tripadvisor hotel book sites like previously d...,Travel
3,https://www.momondo.in/?ispredir=true,cheap flights search compare flights momondo f...,Travel
4,https://www.ebookers.com/?AFFCID=EBOOKERS-UK.n...,bot create free account create free account si...,Travel

In [ ]:
#find the datatype
dataset.dtypes

website_url             object
cleaned_website_text    object
Category                object
dtype: object

In [ ]:
#find the fact about the dataset e.g: Datatype and count
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1408 entries, 0 to 1407
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   website_url           1408 non-null   object
 1   cleaned_website_text  1408 non-null   object
 2   Category              1408 non-null   object
dtypes: object(3)
memory usage: 33.1+ KB

# Data Preprocessing

The Data preprocessing is used to clean the data like removeing the null values and duplicate values and prepare the dataset to train the machine learning model.

In [ ]:
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords
nltk.download('stopwords')
nltk.download('punkt')
nltk.download('wordnet')
lemmartizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Package punkt is already up-to-date!
[nltk_data] Downloading package wordnet to /root/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [95]:
#create a function to tokenize the words and use lemmartizer to lemmatize the word
def tokenize(text):
  text = lemmartizer.lemmatize(text)
  tokens = nltk.word_tokenize(text)
  return tokens

In [96]:
#add some stopwords that needs to remove
nltk_stop_words = set(stopwords.words('english'))
nltk_stop_words.update(["'d", "'ll", "'re", "'s", "'ve", 'could', 'doe', 'ha', 'might', 'must', "n't", 'need', 'sha', 'wa', 'wo', 'would'])

In [97]:
from sklearn.feature_extraction.text import CountVectorizer

countvectorizer = CountVectorizer(min_df=1, tokenizer=tokenize, stop_words=nltk_stop_words)

dtm = pd.DataFrame(countvectorizer.fit_transform(dataset['cleaned_website_text']).toarray(),
                                                 columns=countvectorizer.get_feature_names(), index=None)



dtm.head()

/usr/local/lib/python3.7/dist-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,-pron-,007f,0084ff,00s,01b,01st,02000f,02001f,02005f,03rd,...,카메라,한국,한국어,현미경용,𝐂,𝐅𝐎𝐑,𝐅𝐔𝐋𝐋𝐘,𝐋𝐎𝐀𝐃𝐄𝐃,𝐎𝐏𝐄𝐍,𝐓𝐀𝐊𝐄𝐀
0,0,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [98]:
dtm.shape

(1408, 60061)

In [99]:
#Use the Encoder to encoding the lable
from sklearn import preprocessing

le = preprocessing.LabelEncoder()
lable = le.fit_transform(dataset.Category)